<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <LINK REL=StyleSheet HREF="style.css" TYPE="text/css" MEDIA=screen>
 
</head>
<body>
    <div id="cabeceraemail">
       
    <h2>GRACIAS POR TU PEDIDO</h2>
</div>
<p>Tu pedido se ha recibido y se está procesando.</p>
<br>
<p>Realiza tu pago en nuestra cuenta bancaria <b>ES632434542532</b>. </p>
<p>El pedido no será entregado hasta que el importe completo haya sido recibido en nuestra cuenta</p>
<br>
<br>
<p>Gracias por confiar en nosotros</p>
<b>Equipo de Musicarium</b>
</body>
</html>